<div id="footer-container">
    <div>
        <h2>&copy Himanshu Vaidya: All rights resweved. </h2>
        <h2>Phone : 8294013841</h2>
        <h2>Email : vaidyahimanshu502@gmail.com</h2>
    </div>
    <div id="form-container">
        <h2>Feed-back :</h2>
        <form action="">
            <input type="text" name="name" placeholder="Enter name..." required>
            <input type="email" name="email" placeholder="Enter email.." required>
            <textarea name="feedback" id="feedback" cols="30" rows="5" placeholder="Enter your experience.."></textarea>
            <input type="submit" value="Submit Feedback" id="submit-btn">
        </form>
    </div>  
</div>