<div id="reset-page-container">
    <% if(access) { %>
        <form action="/user/update-password/<%= accessToken %>" method="POST" id="set-pass-form">
            <label for="newPass">New Password:</label><br>
            <input type="password" id="newPass" name="newPass" required>
            <br>
            <br>
            <br>
            <label for="confirmPass">Confirm New Password:</label><br>
            <input type="password" id="confirmPass" name="confirmPass" required>
            <br>
            <br>
            <input type="submit" value="Confirm" id="confirm">
            <%= console.log('Access :', access) %>
        </form>
    <% } else { %>
        <h1>Enter registered email :</h1>
        <form action="/user/send-reset-pass-mail" method="POST">
            <input type="email" name="email" placeholder="Email.." required>
            <input type="submit" value="Submit" id="email-btn">
        </form>
    <% } %>
</div>